<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/product-fragments :: update-sidebar"/>
                <div class="col-md-9 mb-5">
                    <th:block th:replace="fragments/common-fragments :: info-title(
                        text='Add new product',
                        icon='fas fa-plus-square mr-2'
                    )"/>
                    <br/>
                    <form method="post" action="/admin/add/perfume" enctype="multipart/form-data">
                        <div class="form row">
                        	<th:block th:replace="fragments/product-fragments :: add-product-select(
                                title='Colour',
                                name='colour',
                                options=${colourDict},
                                error=(${colourError})
                            )"/>
                            <th:block th:replace="fragments/product-fragments :: add-product-select(
                                title='Size',
                                name='size',
                                options=${sizeDict},
                                error=(${sizeError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/product-fragments :: add-product-select(
                                title='Wood species',
                                name='species',
                                options=${speciesDict},
                                error=(${speciesError})
                            )"/>
                            <th:block th:replace="fragments/product-fragments :: add-product-select(
                                title='Plank type',
                                name='plankTypes',
                                options=${plankTypeDict},
                                error=(${plankTypeError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/product-fragments :: add-product-select(
                                title='Grade',
                                name='grade',
                                options=${gradeDict},
                                error=(${gradeError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Batch number',
                                name='batch',
                                placeholder='Enter the batch number',
                                value=(${perfume} ? ${perfume.fragranceTopNotes} : ''),
                                error=(${batchError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Manufacture year',
                                name='year',
                                placeholder='Enter the manufacture year',
                                value=(${perfume} ? ${perfume.volume} : ''),
                                error=(${yearError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Finish',
                                name='finish',
                                placeholder='Enter the finish',
                                value=(${perfume} ? ${perfume.volume} : ''),
                                error=(${finishError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Country',
                                name='country',
                                placeholder='Enter the country',
                                value=(${perfume} ? ${perfume.country} : ''),
                                error=(${countryError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Unknown attribute',
                                name='unknownAttr',
                                placeholder='Enter the ',
                                value=(${perfume} ? ${perfume.fragranceBaseNotes} : ''),
                                error=(${fragranceBaseNotesError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Price',
                                name='price',
                                placeholder='Enter the price',
                                value=(${perfume} ? ${perfume.price} : ''),
                                error=(${priceError})
                            )"/>
                            <div class="col" style="margin-top: 35px">
                                <input type="file" name="file"/>
                            </div>
                        </div>
                        <th:block th:replace="fragments/common-fragments :: icon-button(
                        	id='addNewProductBtn',
                            text='Add',
                            buttonClassName='btn-success mt-3',
                            icon='fas fa-check-square mr-2'
                        )"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewColour" tabindex="-1" role="dialog" aria-labelledby="addNewColourModal"
		aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" style="border-radius: 5px;">
			<div class="modal-header">
				<button type="button" class="close" aria-hidden="true" onclick="closeAddNewColourModal()">
					&times;
				</button>
				<h4 class="modal-title" id="addNewColourTitle"><i class='fa fa-pencil'></i>&nbsp;Add new colour</h4>
			</div>
			<form class="form-horizontal" id="addNewColourForm">
				<input type="hidden" name="userId" id="userId" value=1>
				<div class="modal-body">
					<div class="form row">
                        <th:block th:replace="fragments/product-fragments :: add-string-required-attribute-input(
                            title='Colour name',
                            name='colourName',
                            id='colourName',
                            placeholder='Enter the colour name',
                            value=(${colour} ? ${colour.name} : ''),
                            error=(${colourNameError})
                        )"/>
                        <th:block th:replace="fragments/product-fragments :: add-string-required-attribute-input(
                            title='Colour alias',
                            name='colourAlias',
                            id='colourAlias',
                            placeholder='Enter the colour alias',
                            value=(${colour} ? ${colour.alias} : ''),
                            error=(${aliasError})
                        )"/>
                    </div>
                    <div class="form row mt-3">
                        <th:block th:replace="fragments/product-fragments :: add-string-attribute-input(
                            title='Colour Description',
                            name='colourDescription',
                            id='colourDescription',
                            placeholder='Enter the colour description',
                            value=(${colour} ? ${colour.description} : ''),
                            error=(${descriptionError})
                        )"/>
                    </div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="addNewColourFun()">
						Add
						</button>
						<button type="button" class="btn btn-primary" onclick="closeAddNewColourModal()">
						Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="addNewPlankSize" tabindex="-1" role="dialog" aria-labelledby="addNewPlankSizeModal"
		aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" style="border-radius: 5px;">
			<div class="modal-header">
				<button type="button" class="close" aria-hidden="true" onclick="closeAddNewPlankSizeModal()">
					&times;
				</button>
				<h4 class="modal-title" id="addNewPlankSizeTitle"><i class='fa fa-pencil'></i>&nbsp;Add new plank size</h4>
			</div>
			<form class="form-horizontal" method="post" action="">
				<input type="hidden" name="userId" id="userId" value=1>
				<div class="modal-body">
					<div class="form row">
                        <th:block th:replace="fragments/product-fragments :: add-string-attribute-input(
                            title='Width',
                            name='width',
                            placeholder='Enter the width in inches',
                            value=(${perfume} ? ${perfume.perfumeTitle} : ''),
                            error=(${widthError})
                        )"/>
                        <th:block th:replace="fragments/product-fragments :: add-string-attribute-input(
                            title='Length',
                            name='length',
                            placeholder='Enter the length',
                            value=(${perfume} ? ${perfume.perfumer} : ''),
                            error=(${lengthError})
                        )"/>
                    </div>
                    <div class="form row mt-3">
                        <th:block th:replace="fragments/product-fragments :: add-string-attribute-input(
                            title='Thickness',
                            name='thickness',
                            placeholder='Enter the thickness in inches',
                            value=(${perfume} ? ${perfume.year} : ''),
                            error=(${thicknessError})
                        )"/>
                        <th:block th:replace="fragments/product-fragments :: add-string-attribute-input(
                            title='Sqftage',
                            name='sqftage',
                            placeholder='Enter the squarefootage per carton',
                            value=(${perfume} ? ${perfume.year} : ''),
                            error=(${sqftageError})
                        )"/>
                    </div>
                    <div class="form row mt-3">
                        <th:block th:replace="fragments/product-fragments :: add-string-attribute-input(
                            title='Size Description',
                            name='sizeDescription',
                            placeholder='Enter the size description',
                            value=(${perfume} ? ${perfume.year} : ''),
                            error=(${descriptionError})
                        )"/>
                    </div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="closeAddPlankSizeModal()">
						Add
						</button>
						<button type="button" class="btn btn-primary" onclick="closeAddPlankSizeModal()">
						Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="addNewSpecies" tabindex="-1" role="dialog" aria-labelledby="addNewSpeciesModal"
		aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" style="border-radius: 5px;">
			<div class="modal-header">
				<button type="button" class="close" aria-hidden="true" onclick="closeAddNewSpeciesModal()">
					&times;
				</button>
				<h4 class="modal-title" id="addNewSpeciesTitle"><i class='fa fa-pencil'></i>&nbsp;Add new species</h4>
			</div>
			<form class="form-horizontal" id="addNewSpeciesForm">
				<input type="hidden" name="userId" id="userId" value=1>
				<div class="modal-body">
					<div class="form row">
                        <th:block th:replace="fragments/product-fragments :: add-string-required-attribute-input(
                            title='Species name',
                            name='speciesName',
                            id='speciesName',
                            placeholder='Enter the species name',
                            value=(${species} ? ${species.name} : ''),
                            error=(${speciesNameError})
                        )"/>
                        <th:block th:replace="fragments/product-fragments :: add-string-attribute-input(
                            title='Species country',
                            name='speciesCountry',
                            id='speciesCountry',
                            placeholder='Enter the species country',
                            value=(${species} ? ${species.country} : ''),
                            error=(${speciesCountryError})
                        )"/>
                    </div>
                    <div class="form row mt-3">
                        <th:block th:replace="fragments/product-fragments :: add-string-attribute-input(
                            title='Species Description',
                            name='speciesDescription',
                            id='speciesDescription',
                            placeholder='Enter the species description',
                            value=(${species} ? ${species.description} : ''),
                            error=(${speciesDescriptionError})
                        )"/>
                    </div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="addNewSpeciesFun()">
						Add
						</button>
						<button type="button" class="btn btn-primary" onclick="closeAddNewSpeciesModal()">
						Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>

<script type="text/javascript">
$("#addNewProductBtn").on("click", function(){
	$.ajax({
		url:"/api/newProduct",
		type:"POST",
		data: {
			plank_size_id: 1,
			plank_color_id: 1
		},
		success: function(response){
			console.log('sucess');
		},
		error: function(hata){
			console.log('failure');
		}
	});
})
$("#colour").on("change", function(){
	if ($(this).val() == '') {
		if (!$(this).find('option:selected').text().includes('Enter')){
			$("#addNewColour").modal('show');
		}
	}
})
$("#size").on("change", function(){
	if ($(this).val() == '') {
		if (!$(this).find('option:selected').text().includes('Enter')){
			$("#addNewPlankSize").modal('show');
		}
	}
})
$("#species").on("change", function(){
	if ($(this).val() == '') {
		if (!$(this).find('option:selected').text().includes('Enter')){
			$("#addNewSpecies").modal('show');
		}
	}
})
function closeAddNewColourModal() {
	$("#addNewColour").modal('hide');
	location.reload();
}
function closeAddPlankSizeModal() {
	$("#addNewPlankSize").modal('hide');
	location.reload();
}
function closeAddNewSpeciesModal() {
	$("#addNewSpecies").modal('hide');
	location.reload();
}

function addNewColourFun() {
	var colourName = $("input[name=colourName]").val();
	var colourAlias = $("input[name=colourAlias]").val();
	var colourDescription = $("input[name=colourDescription]").val();
	if (colourName == '') {
		bootboxAlertError("Colour name can not be empty");
		return false;
	}
	if (colourAlias == '') {
		bootboxAlertError("Colour alias can not be empty");
		return false;
	}
	$.ajax({
		type:"POST",
		url:'/product/addNewColour',
		data:{
			colourName: colourName,
			colourAlias: colourAlias,
			description: colourDescription
		},
		success:function(response){
			bootboxAlertPrompt(response);
			setTimeout(function(){location.reload();},2000);
		},
		error:function (xhr){
			bootboxAlertError(xhr.responseText);
			setTimeout(function(){location.reload();}, 3000);
		}
	});
}

function addNewSpeciesFun() {
	var speciesName = $("input[name=speciesName]").val();
	var speciesCountry = $("input[name=speciesCountry]").val();
	var speciesDescription = $("input[name=speciesDescription]").val();
	if (speciesName == '') {
		bootboxAlertError("Species name can not be empty");
		return false;
	}
	$.ajax({
		type:"POST",
		url:'/product/addNewSpecies',
		data:{
			speciesName: speciesName,
			speciesCountry: speciesCountry,
			speciesDescription: speciesDescription
		},
		success:function(response){
			bootboxAlertPrompt(response);
			setTimeout(function(){location.reload();},2000);
		},
		error:function (xhr){
			bootboxAlertError(xhr.responseText);
			setTimeout(function(){location.reload();}, 3000);
		}
	});
}
</script>

<style>
.validation
{
  color: red;
  margin-bottom: 20px;
}
</style>
</html>