<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div class="col-md-12">
			<div class="box box-primary">
				<form class="form-horizontal" role="form" style="justify-content: center">

					<div class="box-body">
						<div class="container-fluid mt-5 ml-1">
							<div class="form-group row">
								<div class="col-md-2 ml-2">
									<div class="input-group">
										<select id="colour" name="colour" data-live-search="true" class="selectpicker" th:field="${colorDict}">
												<option value="">Colour</option>
                            				<option th:each="color : ${colorDict}" th:value="${color.getId()}" th:text="${color.getColorName()}"></option>
                    					</select>
                    					<div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueSelector('colour')">
				           					<i class="fa fa-fw fa-eraser" title="clear"></i>
				         				</div>
									</div>
								</div>
								<div class="col-md-2 ml-2">
									<div class="input-group">
										<select id="width" name="width" data-live-search="true" class="selectpicker" th:field="${sizeDict}">
												<option value="">Width</option>
                            				<option th:each="size : ${sizeDict}" th:value="${size.getId()}" th:text="${size.getWidthInInch()} + '&quot;'"></option>
                    					</select>
										<div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueSelector('width')">
	                      					<i class="fa fa-fw fa-eraser" title="clear"></i>
	                    				</div>
									</div>
								</div>
								<div class="col-md-2 ml-2">
									<div class="input-group">
										<select id="species" name="species" data-live-search="true" class="selectpicker" th:field="${speciesDict}">
												<option value="">Species</option>
                            				<option th:each="species : ${speciesDict}" th:value="${species.getId()}" th:text="${species.getName()}"></option>
                    					</select>
										<div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueSelector('species')">
	                      					<i class="fa fa-fw fa-eraser" title="clear"></i>
	                    				</div>
									</div>
								</div>
								<div class="col-md-2 ml-2">
									<div class="input-group">
										<select id="grade" name="grade" data-live-search="true" class="selectpicker" th:field="${gradeDict}">
												<option value="">Grade</option>
                            				<option th:each="grade : ${gradeDict}" th:value="${grade.getId()}" th:text="${grade.getGradeName()}"></option>
                    					</select>
										<div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueSelector('grade')">
	                      					<i class="fa fa-fw fa-eraser" title="clear"></i>
	                    				</div>
									</div>
								</div>
								<div class="pull-right">
									<div class="btn-group">
										<button type="button" class="btn btn-primary"
											id="searchInventoryBtn">
											<i class="fa fa-search"></i> Search
										</button>
										<button type="button" class="btn btn-primary"
											onclick="javascript:location = location;">
											<i class="fa fa-refresh"></i> Reset
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
<div class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="container-fluid" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                <div class="box-body">
					<table class="table table-striped table-bordered table-hover dataTable" role="grid" id="packingSlipTable">
						<thead>
							<tr class="info">
								<th><input type="checkbox" name="select_all" value="1" id="example-select-all" onclick="checkAll()"></th>
								<th>Species</th>
								<th>Width(inch)</th>
								<th>Colour</th>
								<th>Grade</th>
								<th>Stock</th>
								<th>Order</th>
							</tr>
						</thead>
					</table>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addFloorToOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content" style="border-radius: 5px;">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true" onclick="closeAddFloorToOrderModal()">
						&times;
					</button>
					<h4 class="modal-title" id="addFloorToOrderModalTitle"><i class='fa fa-pencil'></i>&nbsp;Add to order</h4>
				</div>
				<form class="form-horizontal" method="post">
					<input type="hidden" name="userId" id="userId" value=1>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-md-3 control-label xrequired">Quantity: </label>
							<div class="col-md-6">
								<input type="number" value="1">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" onclick="closeAddFloorToOrderModal()">
							Add
							</button>
							<button type="button" class="btn btn-primary" onclick="closeAddFloorToOrderModal()">
								Cancel
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
<script type="text/javascript">
tables = $('#packingSlipTable').DataTable({
	"serverSide" : true,//分页，取数据等等的都放到服务端去
	"lengthChange": true,
	"order": [],
	"bProcessing" : true,
	"searching" : false,
	"autoWidth": false,
	"scrollY": "400px",
    "scrollX": true,
    "scrollCollapse": true,
	"sPaginationType" : "full_numbers",
	ajax : {
		type : "post",
		url : "/inventory/getFilteredStocks",
		dataSrc : "data",
		data : function (d) {
			var param = {};
			param.draw = d.draw;
			param.startPos = d.start;
			param.pageSize = d.length;
			param.colour = $('#colour').val();
			param.width = $('#width').val();
			param.species = $('#species').val();
			param.grade = $('#grade').val();
			return param;
		},
	    "error": function (data) {
	    	alert("error");
	    }
	},
	columns : [
	    {"data" : '', "bSortable" : false},
	    {"data" : 'speciesName', "bSortable" : true},
	    {"data" : 'width', "bSortable" : true},
		{"data" : 'colorName', "bSortable" : true},
		{"data" : 'gradeAlias', "bSortable" : true},
		{"data" : 'stock', "bSortable" : false},
		{"data" : '', "bSortable" : false}
	],
	'columnDefs': [{
		'targets': 0,
		'searchable': false,
		'orderable': false,
		'className': 'dt-body-center',
		'render': function (data, type, full, meta){
			return '<input type="checkbox" class="call-checkbox" name="checkbox-id" value="' + '">';
		}
	},{
		data: null,
		defaultContent: '<i class="fa fa-light fa-circle-plus add2order" style="cursor: pointer;"></i>',
		targets: -1
	}]
});

$("#searchInventoryBtn").on("click", function () {
	tables.draw();
});
tables.on('click', '.add2order', function (e) {
    $("#addFloorToOrderModal").modal('show');
});
function closeAddFloorToOrderModal() {
	$("#addFloorToOrderModal").modal('hide');
}
</script>