<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div class="col-md-12">
			<div class="box box-primary">
				<form class="form-horizontal" role="form" style="justify-content: center">

					<div class="box-body">
						<div class="container-fluid mt-5 ml-1">
							<div class="form-group row">
								<div class="col-md-2 ml-2">
									<div class="input-group">
										<span class="input-group-addon" style="font-weight: bold; vertical-align: middle; line-height: 30px;"><i class="fa fa-fw fa-th-large"></i>&nbsp;Colour</span> 
										<select id="colour" name="colour" data-live-search="true" class="form-control" th:field="${colorDict}">
												<option value="">Please select</option>
                            				<option th:each="color : ${colorDict}" th:value="${color.getId()}" th:text="${color.getColorName()}"></option>
                    					</select>
                    					<div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueTumor('colour')">
				           					<i class="fa fa-fw fa-eraser" title="clear"></i>
				         				</div>
									</div>
								</div>
								<div class="col-md-2 ml-2">
									<div class="input-group">
										<span class="input-group-addon" style="font-weight: bold; vertical-align: middle; line-height: 30px;"><i class="fa fa-fw fa-th-large"></i>&nbsp;Width</span> 
										<select id="width" name="width" data-live-search="true" class="form-control" th:field="${widthDict}">
												<option value="">Please select</option>
                            				<option th:each="width : ${widthDict}" th:value="${width.getId()}" th:text="${width.getWidthInInch()} + '&quot;'"></option>
                    					</select>
										<div class="input-group-addon" style="cursor: pointer;" onclick="emptyValue('width')">
	                      					<i class="fa fa-fw fa-eraser" title="clear"></i>
	                    				</div>
									</div>
								</div>
								<div class="col-md-2 ml-2">
									<div class="input-group">
										<span class="input-group-addon" style="font-weight: bold;"><i class="fa fa-fw fa-th-large"></i>&nbsp;检测试剂盒</span> 
										<select class="form-control" id="pdl1Kit">
											<option value="">请选择</option>
											<option value="SP263">Ventana SP263试剂盒</option>
											<option value="22C3">Dako 22C3试剂盒</option>
										</select>
										<div class="input-group-addon" style="cursor: pointer;" onclick="emptyValue('pdl1Kit')">
	                      					<i class="fa fa-fw fa-eraser" title="清空值"></i>
	                    				</div>
									</div>
								</div>
								<div class="col-md-2 range-right">
									<div class="input-group">
										<span class="input-group-addon" style="font-weight: bold;"><i class="fa fa-calendar"></i>&nbsp;样本上传时间</span> 
										<input type="text" id="sampleUploadTime" placeholder="yyyy/mm/dd - yyyy/mm/dd" class="form-control reservation" readonly="readonly">
										<div class="input-group-addon" style="cursor: pointer;" onclick="emptyValue('sampleUploadTime')">
				           					<i class="fa fa-fw fa-eraser" title="清空值"></i>
				         				</div>
									</div>
								</div>
								<div class="pull-right">
									<div class="btn-group">
										<button type="button" class="btn btn-primary"
											id="searchSampleBtn">
											<i class="fa fa-search"></i> 搜索
										</button>
										<button type="button" class="btn btn-primary"
											onclick="javascript:location = location;">
											<i class="fa fa-refresh"></i> 重置
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
<div class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="container-fluid" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                <div class="box-body">
					<table class="table table-striped table-bordered table-hover dataTable" role="grid" id="packingSlipTable">
						<thead>
							<tr class="info">
								<th><input type="checkbox" name="select_all" value="1" id="example-select-all" onclick="checkAll()"></th>
								<th>Width(inch)</th>
								<th>Colour</th>
								<th>Grade</th>
								<th>Stock</th>
							</tr>
						</thead>
					</table>
				</div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
<script type="text/javascript">
tables = $('#packingSlipTable').DataTable({
	"serverSide" : true,//分页，取数据等等的都放到服务端去
	"lengthChange": true,
	"order": [],
	"bProcessing" : true,
	"searching" : false,
	"autoWidth": false,
	"scrollY": "400px",
    "scrollX": true,
    "scrollCollapse": true,
	"sPaginationType" : "full_numbers",
	ajax : {
		type : "post",
		url : "http://localhost:8080/inventory/getAllStocks",
		dataSrc : "data",
		data : function (d) {
			var param = {};
			param.draw = d.draw;
			param.startPos = d.start;
			param.pageSize = d.length;
			return param;
		},
	    "error": function (data) {
	    	alert("error");
	    }
	},
	columns : [
	    {"data" : '', "bSortable" : false},
	    {"data" : 'width', "bSortable" : true},
		{"data" : 'colorName', "bSortable" : true},
		{"data" : 'gradeAlias', "bSortable" : true},
		{"data" : 'stock', "bSortable" : false}
	],
	'columnDefs': [{
		'targets': 0,
		'searchable': false,
		'orderable': false,
		'className': 'dt-body-center',
		'render': function (data, type, full, meta){
			return '<input type="checkbox" class="call-checkbox" name="checkbox-id" value="' + '">';
		}
	}]
});
</script>