<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="container-fluid" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                <div class="box-body">
					<table class="table table-striped table-bordered table-hover dataTable" role="grid" id="packingSlipTable">
						<thead>
							<tr class="info">
								<th><input type="checkbox" name="select_all" value="1" id="example-select-all" onclick="checkAll()"></th>
								<th>Invoice N.O.</th>
								<th>Store</th>
								<th>Number of items</th>
								<th>Status</th>
							</tr>
						</thead>
					</table>
				</div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!-- 
<script type="text/javascript">
tables = $('#packingSlipTable').DataTable({
	"serverSide" : true,//分页，取数据等等的都放到服务端去
	"lengthChange": true,
	"order": [],
	"bProcessing" : true,
	"searching" : false,
	"autoWidth": false,
	"scrollY": "400px",
    "scrollX": true,
    "scrollCollapse": true,
	"sPaginationType" : "full_numbers",
	ajax : "../static/objects.txt",
	columns : [
	    {"data" : '', "bSortable" : false},
	    { data: 'name' },
        { data: 'position' },
        { data: 'office' },
        { data: 'salary' }
	],
	'columnDefs': [{
		'targets': 0,
		'searchable': false,
		'orderable': false,
		'className': 'dt-body-center',
		'render': function (data, type, full, meta){
			return '<input type="checkbox" class="call-checkbox" name="checkbox-id" value="' + '">';
		}
	}]
});
</script>
 -->
<script type="text/javascript">
tables = $('#packingSlipTable').DataTable({
	"serverSide" : true,//分页，取数据等等的都放到服务端去
	"lengthChange": true,
	"order": [],
	"bProcessing" : true,
	"searching" : false,
	"autoWidth": false,
	"scrollY": "400px",
    "scrollX": true,
    "scrollCollapse": true,
	"sPaginationType" : "full_numbers",
	ajax : {
		type : "post",
		url : "http://localhost:8080/packing/showOrders",
		dataSrc : "data",
		data : function (d) {
			var param = {};
			param.draw = d.draw;
			param.startPos = d.start;
			param.pageSize = d.length;
			return param;
		},
	    "error": function (data) {
	    	alert("error");
	    }
	},
	columns : [
	    {"data" : '', "bSortable" : false},
	    {"data" : 'firstName', "bSortable" : true},
		{"data" : 'lastName', "bSortable" : true},
		{"data" : 'city', "bSortable" : true},
		{"data" : 'email', "bSortable" : false}
	],
	'columnDefs': [{
		'targets': 0,
		'searchable': false,
		'orderable': false,
		'className': 'dt-body-center',
		'render': function (data, type, full, meta){
			return '<input type="checkbox" class="call-checkbox" name="checkbox-id" value="' + '">';
		}
	}]
});
</script>