<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="container pt-5 pb-5 bg-white shadow-sm">
        <div class="row">
            <div class="col-md-5">
                <img th:src="@{/img/{path} (path = ${product.getFilename()})}" class="rounded mx-auto w-100">
            </div>
            <div class="col-md-7">
                <h2 th:text="${product.getColor().getName()}"></h2>
                <h2 th:text="${product.getSpecies().getName()}"></h2>
                <h3 th:text="${product.getSize().getWidthInInch()} + ' inch, ' + ${product.getSize().getSquarefootPerCarton()} + ' SF/CTN'"></h3>
                <input type="hidden" id="productIdVal" th:value="${product.getId()}"/>
                <input type="hidden" id="sqftPerCartonVal" th:value="${product.getSize().getSquarefootPerCarton()}"/>
                <p style="font-size: 24px;font-weight: bold;">$ <span th:text="${product.getPrice()}"></span></p>
                <p class="product-stock" style="color: #54C0A1">In Stock<span th:text="': ' + ${quantity}"></span></p>
                <div class="ml-1">
<!--                     <h6 class="mr-5"> -->
<!--                         $<span th:text="${product.getGradeName()}"></span>.00 -->
<!--                     </h6> -->
		        	<th:block sec:authorize="hasAuthority('USER')">
                        <form action="/cart/add" method="post">
                            <div style="margin: 15px 0 15px 0;">
                                <span id="estimatedBase"></span>
                                <input type="hidden" id="txtEstimatedCarton" name="txtEstimatedCarton">
                            </div>
                            <div>
                                <div>
                                    <input id="sqft_quantity" name="sqft_quantity" type="number" value="0" style="width: 75px;"/> <label><span> SQFT</span></label>
                                </div>
                                <div>
                                    <input id="carton_quantity" name="carton_quantity" type="number" value="0" style="width: 75px;"/> <label><span> CARTONS</span></label>
                                </div>
                                <div>
                                    <button type="submit" name="productId" class="btn btn-success"
                                            th:value="${product.getId()}">
                                        <i class="fas fa-cart-plus mr-2 fa-lg"></i>
                                        ADD TO CART
                                    </button>
                                </div>
                                <div>
                                    <form>
                                        <table>
                                            <tr>
                                                <td style="padding: 5px 5px 5px 0;">
                                                    <button id="check_product_stock" type="button" class="btn btn-primary">
                                                        <i class="fas fa-warehouse mr-2 fa-lg"></i>
                                                        CHECK STOCK
                                                    </button>
                                                    <!--  <input id="product_sku" type="hidden" value="SDP2338" /> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px 5px 5px 0;">
                                                    <div class="send-request" id="check-result" style="margin-top:5px"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                        </form>
                    </th:block>
                    <th:block sec:authorize="hasAuthority('ADMIN')">
                        <form action="/salesOrder/add" method="post">
                            <div style="margin: 15px 0 15px 0;">
                                <span id="estimatedBase"></span>
                                <input type="hidden" id="txtEstimatedCarton" name="txtEstimatedCarton">
                            </div>
                            <div>
                                <div>
                                    <input id="sqft_quantity" name="sqft_quantity" type="number" value="0" style="width: 75px;"/> <label><span> SQFT</span></label>
                                </div>
                                <div>
                                    <input id="carton_quantity" name="carton_quantity" type="number" value="0" style="width: 75px;"/> <label><span> CARTONS</span></label>
                                </div>
                                <div>
                                    <button type="submit" name="productId" class="btn btn-success"
                                            th:value="${product.getId()}">
                                        <i class="fas fa-cart-plus mr-2 fa-lg"></i>
                                        ADD TO SALES ORDER
                                    </button>
                                </div>
                                <div>
                                    <form>
                                        <table>
                                            <tr>
                                                <td style="padding: 5px 5px 5px 0;">
                                                    <button id="check_product_stock" type="button" class="btn btn-primary">
                                                        <i class="fas fa-warehouse mr-2 fa-lg"></i>
                                                        CHECK STOCK
                                                    </button>
                                                    <!--  <input id="product_sku" type="hidden" value="SDP2338" /> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px 5px 5px 0;">
                                                    <div class="send-request" id="check-result" style="margin-top:5px"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                        </form>
                    </th:block>
		        </div>
             </div>
                <br>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Wood species:</td>
                        <td th:text="${product.getSpecies().getName()}"></td>
                    </tr>
                    <tr>
                        <td>Color name:</td>
                        <td th:text="${product.getColor().getName()}"></td>
                    </tr>
                    <tr>
                        <td>Width:</td>
                        <td th:text="${product.getSize().getWidthInInch()} + ' inch'"></td>
                    </tr>
                    <tr>
                        <td>Grade:</td>
                        <td th:text="${product.getGrade().getName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>

<script type="text/javascript">
$(document).ready(function () {
	AdjustBaseQuantity();
});

$('#sqft_quantity').on("propertychange change keyup paste input",function(){
	AdjustBaseQuantity();
});
$('#carton_quantity').on("propertychange change keyup paste input", function(){
	AdjustBaseQuantity();
})
</script>

<script type="text/javascript">
function AdjustBaseQuantity() {
	var sqftPerCarton = $('#sqftPerCartonVal').val();
    var qtyLevel1 = eval($("#sqft_quantity").val() * 1.0000);

            qtyLevel1 = Math.ceil(qtyLevel1 / sqftPerCarton) * sqftPerCarton;
        
    var qtyLevel2 = eval($("#carton_quantity").val() * sqftPerCarton);
    var qtyLevel3 = eval($("#alt3itemquantity382").val() * 1.0000);
    if (qtyLevel1 === undefined || isNaN(qtyLevel1)) {
        qtyLevel1 = 0;
    }
    if (qtyLevel2 === undefined || isNaN(qtyLevel2)) {
        qtyLevel2 = 0;
    }
    if (qtyLevel3 === undefined || isNaN(qtyLevel3)) {
        qtyLevel3 = 0;
    }
  
    var tot = eval(qtyLevel1) + eval(qtyLevel2) + eval(qtyLevel3);
    $('#estimatedBase').html('Estimated actual ' + getNum(tot).toFixed(3) + ' SQFT');
    $('#txtEstimatedCarton').val(Math.ceil(getNum(tot)/sqftPerCarton));
}
function getNum(val) {
    if (isNaN(val)) {
        return 0;
    }
    return val;
}

$("#check_product_stock").on("click",function(){
	var currentClassName = $("#check-result").attr('class');
	
     $.ajax({
     url:"/product/checkProductStock",
     type:"POST",
     data: {
       productId: $('#productIdVal').val(),
       quantity: $('#txtEstimatedCarton').val(),
     },
     success:function(response){
    	 console.log(response.Status);
         var className='success';
         if(response.Status==0){//unkown
              className = 'unknown';
         }
         else if(response.Status==2){
             className = 'failure';
         }
         else if(response.Status==1){
             className='success';
         }
         $("#check_product_stock").removeAttr('disabled');
         $("#check-result").text(response);
         
         $("#check-result").removeClass(currentClassName);
         $("#check-result").addClass('send-request ' + className);
         console.log('success');
    },
    error: function (xhr) {
       var errorMessage = xhr.responseText ? xhr.responseText : 'Unknown error';
       $("#check_product_stock").removeAttr('disabled');
       $("#check-result").text(errorMessage);
       $("#check-result").removeClass(currentClassName);
       $("#check-result").addClass("send-request failure");
    }
   });
})
</script>

<style>
.send-request {
  font-weight: bold;
  padding: 6px;
  text-align: center;
}

  .send-request.failure {
    background-color: #FF000080;
  }

  .send-request.unknown {
    background-color: #FFA600E2;
  }

  .send-request.success {
    background-color: #aae5c4;
  }
</style>
</html>