<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<script src="/static/js/add-new-container.js"></script>
<script src="/static/js/return.js"></script>
<div class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <form id="salesOrderForm" method="post" action="/return/update">
                <input type="hidden" id="returnSlipId" th:value="${returnSlip.getId()}"/>
                <div class="container-fluid">
                    <div class="row mx-3">
                        <th:block th:replace="fragments/product-fragments :: add-dealer-select(
                            title='Dealer',
                            name='dealer',
                            value=${returnSlip.getPackingSlip().getDealer().getId()},
                            options=${dealer_dict}
                        )"/>
                    </div>
                </div>
                <div class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-md-5">
                            <th:block th:replace="fragments/common-fragments :: large-info-title(
                                text='Return Slip',
                                icon='fas fa-square-poll-horizontal fa-lg mr-2'
                            )"/>
                        </div>
                        <div class="col-sm-2">
                            <div class="row">
                                <th:block th:replace="fragments/product-fragments :: add-datetime-required-attribute-input(
                                title='DATE',
                                name='returnDate',
                                id='returnDate',
                                value=${#dates.format(returnSlip.getCreateTime(), 'yyyy-MM-dd')},
                                placeholder=''
                            )"/>
                            </div>
                            <div class="row">
                                <th:block th:replace="fragments/product-fragments :: add-string-required-attribute-input(
                                title='Packing NO.',
                                name='packingSlipId',
                                id='packingSlipId',
                                value=${returnSlip.getPackingSlip().getId()},
                                placeholder=''
                            )"/>
                            </div>
                        </div>
                        <th:block th:replace="fragments/product-fragments :: sales-order-address-textarea(
                        title='Description',
                        name='description',
                        value=${returnSlip.getDescription()}
                        )"/>
                        <div class="row">
                            <div class="col-sm-1" style="float:right">
                            </div>
                            <div class="col-sm-2" style="float:right">
                                <th:block th:replace="fragments/product-fragments :: add-salesRep-select(
                                    title='STATUS',
                                    name='returnStatus',
                                    id='returnStatus',
                                    options=${returnSlipStatus_dict},
                                    value=${returnSlip.getReturnStatus().getId()},
                                    placeholder=''
                                )"/>
                            </div>
                            <div class="col-sm-2 ml-3" style="padding-left: 0;padding-right:0;float:right">
                                <th:block th:replace="fragments/product-fragments :: add-datetime-required-attribute-input(
                                    title='Date PickUp',
                                    name='datePickUp',
                                    id='datePickUp',
                                    value=${#dates.format(returnSlip.getPackingSlip().getCreateTime(), 'yyyy-MM-dd')},
                                    placeholder=''
                                )"/>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-3" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                        <div class="box-body">
                            <table class="table table-striped table-bordered table-hover dataTable" role="grid" id="salesOrderProductsTable">
                                <thead>
                                <tr class="info">
                                    <th></th>
                                    <th>Quantity</th>
                                    <th>ProductId</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="form row mr-3">
                        <div class="ml-auto">
                            <th:block th:replace="fragments/common-fragments :: icon-button-noSubmit(
                                id='addProductBtn',
                                text='Add product',
                                buttonClassName='btn-primary mt-3',
                                icon='fas fa-plus-square mr-2'
                            )"/>
                            <th:block th:replace="fragments/common-fragments :: icon-button(
                                id='addNewSOBtn',
                                text='Save',
                                buttonClassName='btn-success mt-3',
                                icon='fas fa-check-square mr-2'
                            )"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>

<style>
    .dataTables_scrollBody{
        overflow: visible !important;
    }
    /* Adjust the maximum height and enable scrolling */
    .dropdown-menu.show {
        max-height: 250px; /* Adjust the maximum height as needed */
        overflow-y: auto; /* Enable vertical scrolling */
    }
</style>
</html>