<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<script src="/static/js/update-factory-inventory.js"></script>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/product-fragments :: update-sidebar"/>
                <div class="col-md-10">
                    <div class="box box-primary">
                        <form class="form-horizontal" role="form" style="justify-content: center">

                            <div class="box-body">
                                <div class="container-fluid mt-5 ml-1">
                                    <div class="form-group row">
                                        <div class="col-md-2 ml-1">
                                            <div class="d-flex">
                                                <select id="colour" name="colour" data-live-search="true" class="selectpicker" th:field="${colourDict}">
                                                    <option value="">Colour</option>
                                                    <option th:each="color : ${colourDict}" th:value="${color.getId()}" th:text="${color.toString()}"></option>
                                                </select>
                                                <div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueSelector('colour')">
                                                    <i class="fa fa-fw fa-eraser mt-2" title="clear"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 ml-1">
                                            <div class="d-flex">
                                                <select id="width" name="width" data-live-search="true" class="selectpicker" th:field="${sizeDict}">
                                                    <option value="">Width</option>
                                                    <option th:each="size : ${sizeDict}" th:value="${size.getId()}" th:text="${size.getWidthInInch()} + '&quot;'"></option>
                                                </select>
                                                <div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueSelector('width')">
                                                    <i class="fa fa-fw fa-eraser mt-2" title="clear"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 ml-1">
                                            <div class="d-flex">
                                                <select id="species" name="species" data-live-search="true" class="selectpicker" th:field="${speciesDict}">
                                                    <option value="">Species</option>
                                                    <option th:each="species : ${speciesDict}" th:value="${species.getId()}" th:text="${species.toString()}"></option>
                                                </select>
                                                <div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueSelector('species')">
                                                    <i class="fa fa-fw fa-eraser mt-2" title="clear"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 ml-1">
                                            <div class="d-flex">
                                                <select id="grade" name="grade" data-live-search="true" class="selectpicker" th:field="${gradeDict}">
                                                    <option value="">Grade</option>
                                                    <option th:each="grade : ${gradeDict}" th:value="${grade.getId()}" th:text="${grade.toString()}"></option>
                                                </select>
                                                <div class="input-group-addon" style="cursor: pointer;" onclick="emptyValueSelector('grade')">
                                                    <i class="fa fa-fw fa-eraser mt-2" title="clear"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 ml-1">
                                            <div class="d-flex">
                                                <input id="batch" name="batch" placeholder="batch"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex justify-content-end w-100">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary"
                                                        id="searchProductInventoryBtn">
                                                    <i class="fa fa-search"></i> Search
                                                </button>
                                                <button type="button" class="btn btn-primary"
                                                        onclick="javascript:location = location;">
                                                    <i class="fa fa-refresh"></i> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="bg-light">
                        <div class="py-5">
                            <div class="container py-5 bg-white shadow-sm card-height">
                                <div class="container-fluid" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                                    <div class="box-body">
                                        <table class="table table-striped table-bordered table-hover dataTable" role="grid" id="updateInventoryTable">
                                            <thead>
                                            <tr class="info">
                                                <th>Id</th>
                                                <th>Species</th>
                                                <th>Width(inch)</th>
                                                <th>Colour</th>
                                                <th>Grade</th>
                                                <th>Batch</th>
                                                <th>Bay</th>
                                                <th>Stock</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editInventoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 5px;">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" onclick="closeEditInventoryModal()">
                    &times;
                </button>
                <h4 class="modal-title" id="addFloorToOrderModalTitle"><i class='fas fa-pencil'></i>&nbsp;Update inventory</h4>
            </div>
            <div class="container-fluid" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                <div class="box-body">
                    <input type="hidden" name="editInventoryProductId" id="editInventoryProductId" value = 5>
                    <table class="table table-striped table-bordered table-hover dataTable" role="grid" id="updateInventoryItemTable">
                        <thead>
                        <tr class="info">
                            <th>Id</th>
                            <th>ProductId</th>
                            <th>Location</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="modalfooter">
                <button id="addNewInventoryBtn" type="button" class="addNewInventoryBtn">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
